@use "sass:map";
@use "variables" as *;

a:active{
    color:$color-white;
}

#navbarNav{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

#navbarNav ul li a{
    margin-top: 2em;
    color:$color-white;
    font-weight: bold;
}

#navbarNav ul li a:hover{
    color:$color-white;
    font-weight: bold;
}
