@use "sass:map";
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: $color-secondary !important;
}