@use "sass:map";
@use "variables" as *;

.btn {
    padding: 8px 24px !important;
    background-color: $color-accent !important;
}

.btn:hover{
    background-color: $color-btn-filter !important;
}

.btn-create {
    background-color: $color-accent;
    color: black;
}

.btn-view {
    background-color: $color-tertiary;
    color: $color-primary;
}

.btn-filter {
    background-color: $color-btn-filter;
    color: $color-primary;
}

.btn.active{
    background-color: $color-tertiary !important;
    border-color: $color-tertiary !important;
}

.btn.active:hover{
    background-color: $color-accent;
}

.btn-detalle, .btn-resolver{
    background-color: $color-primary !important;
    color: $color-white !important;
}

.btn-detalle:hover, .btn-resolver:hover{
    background-color: $color-warning !important;
}

.detail-btn {
    background-color: $color-primary;
    color: $color-white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.detail-btn:hover {
    background-color: $color-warning;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
