@use "sass:map";

// Colores
$color-primary: #0A3D62;
$color-secondary: #EAEDED;
$color-tertiary: #AAB0B6;
$color-accent: #FFC300;
$color-dark: #333333;
$color-border: #cccccc;
$color-white: #FFFFFF;
$color-btn-filter: #ffe48c;
$color-warning: #FF5733;
$color-danger: #C0392B;
$color-success: #28A745;
$color-gainsboro: gainsboro;
$color-shadow: #667292;
$color-darkgrey: darkgrey;
$color-black: #000000;
$color-li-hover: #f0f0f0;